@import "bootstrap"
$verde: rgb(127, 202, 36)

#error_explanation
	border: 2px solid red
.field_with_errors
	border: 2px solid red

.form-control
	text-transform: uppercase

html, body
	font-size: 16px
h2
	font-size: 3rem
h4 strong
	line-height: 35px
blockquote
	margin: 20px 0
	color: #7fca24
	border-left: 5px solid #7fca24
body
	background-color: black
	overflow-x: hidden
	color: silver
.navbar
	background-color: #7fca24
.navbar a
	color: white

.navbar a:hover
	color: darkgreen
.table
	color: whitesmoke
tr:hover
	background-color: darkgrey
.pago
	border: 2px solid $verde
	padding: 0 20px 5px 20px
	h3, span, a
		color: $verde